@use "../../assets/sass/colors" as *;

.__prompt__ {
    &.cursor::after {
        content: "|";
        background-color: var(--fg);
        color: var(--fg);
        animation: blink 1s steps(5, start) infinite;
    }

    &.case-insensitive .input {
        text-transform: uppercase;
    }
}

@keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
